@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu",sans-serif;
  box-sizing: border-box;
  overflow-x: hidden; 
}



html{
  scroll-behavior:smooth;
}

::selection{
  background-color: var(--light-blue);
}

::-webkit-scrollbar{
  width: 8px;
  background-color: var(--light-white);
}

::-webkit-scrollbar-thumb{
  background-color: var(--light-blue);
}

.no-js #center { display: none;  }
.js #center { display: block; position: absolute; left: 100px; top: 0; }


.center{
  position: fixed;
  left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
  z-index: 9999;
  background:center no-repeat #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ring{
  position: absolute;
  width: 380px;
  border-radius: 50%;
  height: 380px;
  animation: ring 2s linear infinite;
}

@media screen and (max-width: 680px){
  .ring{
    width: 300px;
    height: 300px;
  }

  .center img{
    width: 280px;
  }

}



@keyframes  ring {
  0%{
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px var(--light-blue);
  }
  50%{
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px var(--light-blue);
  }
  100%{
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px var(--light-blue);
  }
}

.ring::before{
  position: absolute;
  content: '';
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}


.navbar{
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;
  overflow-x: hidden;
}




.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

.navbar .inner-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.logo-pic{
  margin-left: 27%;
  width: 57%;
  height: auto;
}


.menu-toggler{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span{
  display: block;
  height: 3px;
  background-color: var(--light-white);
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a{
  color: var(--light-white);
  font-size: 16px;
  font-weight: 500;
  margin-left: 45px;
  transition: .2s linear;
}

.navbar-menu a:hover{
  color: var(--light-blue) !important;
}

.sticky{
  background-color:  var(--light-white);
  padding: 18px 0;
}

.sticky .navbar-menu a{
  color: var(--dark-cinza);
}

.sticky .navbar-menu a:hover{
  color: var(--light-blue)!important;
}



.sticky .menu-toggler span{
  background-color: var(--dark-cinza);
}


.banner1,
.banner2,.banner3,
.banner4{
  height: 100vh;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  overflow: hidden;
  animation: zoom-out 6s linear infinite;
}

.landing-page img{
  width: 120%;
  min-height: 100vh;
  position: absolute;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  animation: zoom-out 6s linear infinite;
}

@media screen and (max-width: 1024px){
  .landing-page img{
    width: 200%;
  }
}

@media screen and (max-width: 768px){
  .landing-page img{
    width: 300%;
  }
}

@media screen and (max-width: 500px){
  .landing-page img{
    width: 400%;
  }
}


@keyframes zoom-out {
  100%{
    width: 100%;
  }
}


.banner1{
  animation: slide1 24s linear infinite;
}

@keyframes slide1 {
  0%{
    visibility: visible;
  }
  25%{
    visibility: hidden;
  }
  50%{
    visibility: hidden;
  }
  75%{
    visibility: hidden;
  }
  100%{
    visibility: visible;
  }
}


.banner2{
  animation: slide2 24s linear infinite;
}

@keyframes slide2 {
  0%{
    visibility: hidden;
  }
  25%{
    visibility: hidden;
  }
  50%{
    visibility: visible;
  }
  75%{
    visibility: hidden;
  }
  100%{
    visibility: hidden;
  }
}


.banner3{
  animation: slide3 24s linear infinite;
}


@keyframes slide3 {
  0%{
    visibility: hidden;
  }
  25%{
    visibility: hidden;
  }
  50%{
    visibility: hidden;
  }
  75%{
    visibility: visible;
  }
  100%{
    visibility: hidden;
  }
}
.banner4{
  animation: slide4 24s linear infinite;
}


@keyframes slide4 {
  0%{
    visibility: hidden;
  }
  25%{
    visibility: hidden;
  }
  50%{
    visibility: hidden
  }
  75%{
    visibility: hidden;
  }
  100%{
    visibility: visible;
  }
}


.text-box{
  width: 600px;
  height: min-content;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) translateY(100px);
  
  text-align: center;
  color: #fff;
  animation: textup 24s linear infinite;
}

@keyframes textup{
  10%{
    transform: translate(-50%, -50%);
  }
  100%{
    transform: translate(-50%, -50%);
  }
}

.text-box1{
  animation-delay: 0s;
}

.text-box2{
  animation-delay: 6s;
}

.text-box3{
  animation-delay: 12s;
}
.text-box4{
  animation-delay: 18s;
}


@media screen and (max-width: 680px){
  .text-box{
    width: 100%;
  }
}

.text-box > *{
  overflow:hidden;
}

.text-box > h1{
  font-size: 1.9rem;
  text-transform: uppercase;
  margin: 0.8rem;
}

.text-box > p{
  font-size: 1.1rem;
  margin: 0.6rem;
  line-height: 1.4rem;
}


.home{
  height: 100vh;
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../images/fundo-4.jpg")  ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

.home .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.active-link{
  color: var(--light-blue) !important;
}


.home .content{
  width: 100%;
  color: var(--light-white);
}


.main-logo img{
  width: 35%;
  margin: 50px;
}


.sm a{
  color: var(--light-white);
  font-size: 22px;
  margin: 0 40px;
  transition: .3s linear;
}

.sm a:hover{
  color:var(--light-blue);
}

.home .buttons{
  margin: 60px 80px;
}

.home .buttons a{
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  margin: 15px 30px;
  color: var(--light-white);
  font-size: 18px;
  font-weight: 200;
  width: 180px;
  border: 1px solid var(--light-white);;
  padding: 14px 0;
  border-radius: 50px;
  transition: .2s linear;
  background-color: transparent;
  
}

.home .buttons a:hover , .home .buttons a:active
{
  background-color: transparent;
  border-radius: 0;
  text-decoration: underline;
}



section{
  padding: 50px 0;
  background-color: #fff;
}

.section-title{
  
font-weight: lighter;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  font-size: 32px;
  padding-bottom: 20px;
  color: #111;
}

.content-separator{
  width: 100%;
  border: solid rgb(219, 219, 219) 1px;
}

.home-separator{
  margin-top:100vh ;
}


.item-a { width:200px; }
.item-b { width:340px; }
.item-c { width:290px; }
.item-d { width:220px; }
.item-e { width:350px; }
@media (max-width: 768px) {
    .item-a { width:100px; }
    .item-b { width:240px; }
    .item-c { width:190px; }
    .item-d { width:120px; }
    .item-e { width:250px; }
}




.container{
    width: 100%;
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: center;
}





.box{
  width: 100%;
  height: 180px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box-image{
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 1024px){
  .content-separator{
    visibility: hidden;
  }

  .container{
    height: 18vh;
  }

  .box-image{
    height: 80%;
    max-height: 80%;
  }

}




@media screen and (max-width: 680px){
  .container{
    height: 30vh;
  }

  .box-image{
    height: 100%;
    
  }
}



@keyframes fadeVisibility {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
      transform: opacity linear;
    }

}

.carousel .carousel-actions{
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-actions button{
  border:0;
  opacity: 0.65;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: var(--light-white);
  transition: 1s ease-in-out;
  background-color: var(--dark-cinza);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.carousel-actions button:hover{
 opacity: 1;
}

.carousel-actions button#carousel-button-previous{
 margin-left: 3px;
}

.carousel-actions button#carousel-button-next{
  margin-right: 3px;
 }



.content{
  animation: fadeInAnimation ease-in 1.5s ;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 
.section-title::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #111;
  bottom: 0;
  left: calc(50% - 40px);
}





.about-pic{
  width: 200px;
  margin-right: 100px;
}

.about-text{
  flex: 1;
}

.about-text h3{
  margin: 10px 0;
  color: #444;
  font-size: 16px;
}

.about-text h3 span:nth-child(1):after,
.about-text h3 span:nth-child(2):after{
  content: "";
  width: 6px;
  height: 6px;
  background-color: #444;
  display: inline-block;
  border-radius: 50%;
  margin: 0 14px;
}

.about-text p{
  font-size: 17px;
  text-align: justify;
  line-height: 30px;
  margin-top: 20px;
}

.about-text *{
  font-family: 'Lato', sans-serif;
}


#map-id{
  padding: 0;
}

#contact .section-title{
  margin-top: 0px;
}


#map{
  height: 700px;
  width: 100%;
 }

.html:after{
  width: 90%;
}

.css:after{
  width: 80%;
}

.js:after{
  width: 70%;
}

.php:after{
  width: 60%;
}

.mysql:after{
  width: 90%;
}

.cs:after{
  width: 80%;
}

section.dark{
  background-color: #353b48;
}

section.dark .section-title{
  color: #f1f1f1;
}

section.dark .section-title::before{
  background-color: #f1f1f1;
}

section.dark .section-title::after{
  border: 4px solid #353b48;
}

.section-title{
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




.produtos-title{
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  margin: 40px 0;
  font-weight: lighter;
  text-align: center;
  color: #2e3131;
}


.grid-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  place-content: center;
  justify-content: center;
  column-gap: 35px;
}
 
.grid-uso-industrial{
  grid-template-columns: repeat(1,1fr);
}

.grid-uso-industrial .responsive{
  max-width: 360px;
  height: 340px;
}


.responsive{
  width: 100%;
  align-self: center;
  justify-self: center;
}



.gallery img:hover , .gallery img:active{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.des{
  padding: 25px;
  text-align: center;
  font-size: 30px;
  color: #303031;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}


.work{
  height: 300px;
  margin: 50px 0;
  width: 100%;
}

.gallery img{
  width: 100%;
  height:auto;
}



/** contactos */




.grid{
  width: 100%;
  margin: auto;
}



.contact-section {
  min-width: 50%;
float: left;
background-size: cover;
padding: 40px 40px;
}


.border{
  width: 100px;
  height: 10px;
  background: #2e3131;
  margin: 40px auto;
}


.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}


.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background:#dadfe1;
  padding: 20px 40px;
  outline: none;
  color: #222;
  transition: 0.5s;
}

.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}

textarea .contact-form-text{
  resize: none;
  height: 120px;
}



.contact-form-btn{
  float: left;
  border: 0;
  background: #34495e;
  color:#fff;
  padding: 12px 50px;
  border-radius: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #2980b9;
}

.contact-info {
  padding-top: 130px;
  margin: 0 40px;
  min-width: 50%;
  
}

.contact-info h1{
  font-weight: 900;
  font-size: 2.0rem;
}


.contact-info h2{
  font-size: 20px;
}


.contact-info p{
  font-size: 17px;
}

.contact-info *{
  font-family: 'Lato', sans-serif;
  line-height: 2.4rem;
}


footer{
  background-color: #353b48;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

footer .sm a:hover{
  color: #48dbfb;
}

.copyright{
  margin-bottom: 20px;
  font-size: 15px;
}

.copyright a{
  font-size: 16px;
  color: #48dbfb;
  font-weight: 500;
}

.goTop{
  position: fixed;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: #48dbfb;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  outline: none;
  display: none;
}

@media screen and (max-width: 1024px){


  .logo-link{
    margin: 0;
    width: 280px;
  }
  
  .logo-pic{
    width: 70%;
  }

  .contact-info {
    padding-top: 130px;
    margin: 0 30px;
    min-width: 35%;
  }

  .contact-section {
  min-width: 40%;
  float: left;
  background-size: cover;
  padding: 40px 30px;
  }

  .contact-info p{
    font-size: 16px;
  }
  
  .contact-info h2{

    font-size: 18px;
  }

  
  .inner-width{
    max-width: 980px;
  }
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 0;
    transition: .3s linear;
  }

  .navbar-menu a{
    display: block;
    font-size: 20px;
    margin: 10px 0;
    font-family: 'Lato', sans-serif;
    border-bottom: solid 1px hsl(221, 15%, 45%);
    padding: 20px;
  }




  .sticky .navbar-menu{
    background-color: #f1f1f1;
  }
  
  .sticky .navbar-menu a{
    
    border-bottom: solid 1px hsl(218, 85%, 85%);
  }

  .main-logo img{
    width: 70%;
  }

  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }

  .inner-width{
    max-width: 800px;
  }

  .about-pic{
    margin: 0 auto 60px;
  }

  .about-text{
    flex: 100%;
    text-align: center;
  }

  
  /* TODO mudar */

  
  .responsive{
    width:100%;
    margin: 20px 0;
    padding: 0;
  }



  .produtos-title{
    margin-top: 0;
  }
    

  

  .grid-container{
    grid-template-columns: repeat(2,1fr);
  }

  .grid-uso-industrial{
    grid-template-columns: repeat(1,1fr);
  }
  


  .contact-info .item{
    width: 100%;
    margin: 10px 0;
  }






}


@media screen and (max-width: 680px){
  
  .logo-link{
    max-width: 180px;
  }
  

  .logo-pic{
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .sm a{
    margin: 0 20px;
  }

  .home .buttons{
    margin: 20px 20px;
  }

  .skill{
    width: 100%;
  }

  .service{
    width: 100%;
  }

  .work{
    width: 100%;
  }

  .nameZone, .emailZone{
    max-width: 100%;
  }

  .main-logo img{
    max-width: 80%;
  }

  .grid{
    max-width: 600px;
    grid-template-columns: 1fr ;
  }
  
  .contact-info {
  padding-top: 0px ;
  padding-bottom: 20px;
  }


  
  #map{
    height: 400px;
  }

  .home{
      background-position:center;
  }

  /* TODO MUDAR AQUI */

  .gallery {
    display: block;
  }

  

  
.grid-container{
  grid-template-columns: repeat(1,1fr);
}

 


}

